/**------------------- UNIVERSALS -------------------**/
html {scroll-behavior: smooth;}
a {
    outline: none;
    text-decoration: none;
}
body {
    margin:0;
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}


/**------------------- NAVIGATION BAR -------------------**/
.topnav {
    z-index: 99;
    overflow: hidden;
    background-color: #222;
    opacity: 0.95;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 2.1vw;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}
.topnav a:hover{
    color: #BBB;
    transition: 0.3s;
}
.topnav .icon {
    display: none;
}
.topnav hr {
    display: none;
}
@media screen and (max-width: 900px){
    .topnav {
        justify-content: space-between;
        background-color:#111;
        opacity: 0.99;
    }
    .topnav a {
        display: none;
    }
    .topnav .icon{
        display: block;
        font-size: 18px;
    }
    /* when 'bars' icon is pressed: a javascript function will insert this function in the topnav */
    .responsive {
        display: block;
        opacity: 0.95;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    .responsive a {
        display: block;
        color: #f2f2f2;
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: 0.3s;
    }
    .responsive hr {
        display: block;
        width: 80%;
        color: #333;
    }
    .responsive .icon {
        display: block;
    }
}


/**------------------- GRID WRAPPER -------------------**/
.wrapper {
    display: grid;
    grid-gap: 10px;
}
.wrapper section {
    padding: 50px 0px 20px 0;
    background-color: rgb(248,248,248);
    text-align: center;
}
.wrapper section h1 {
    font-size: 40px;
    position: relative;
    top: 21px;
}
.wrapper section p {
    font-size: 21px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.3s;
}
@media screen and (max-width: 800px){
    .grid section p {
        font-size: 18px;
        transition: 0.3s;
    }
}
.wrapper section p a {color: rgb(0, 125, 167);}


/**------------------- SECTION 1: USER INFO -------------------**/
#userInfo input[type=text], select {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#userInfo input[type=submit] {
    width: 350px;
    background-color: #2020FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#userInfo input[type=submit]:hover {
    background-color: #3030FF;
}


/**------------------- SECTION 2: BUTTONS WITH USER CHARACTERISTICS -------------------**/
.buttongrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}
@media screen and (max-width: 900px){
    .buttongrid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 600px){
    .buttongrid{
        grid-template-columns: 1fr 1fr;
    }
}
.togglebtn {
    width: 200px;
    background-color: #DDDDDD;
    color: #333333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
}
.togglebtn:hover {
    background-color: #AAAAAA;
    color: #111111;
}
.togglebtnpressed {
    background-color: #333333;
    color: #AAAAAA;
}


/**------------------- SECTION 3: MATCHES -------------------**/
#firstPic2 {background-image: url(images/UnknownMale.jpg);}
#secondPic2 {background-image: url(images/UnknownFemale.jpg);}
#thirdPic2 {background-image: url(images/UnknownFunny.jpg);}


/**------------------- SECTION 4: SUCCESS STORIES -------------------**/
.successgrid {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.successgrid div {
    background-size: cover;
    background-position: center;
    height: 500px;
}
@media screen and (max-width: 1080px){
    .successgrid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 698px){
    .successgrid{
        grid-template-columns: 1fr;
    }
}
#firstPic {background-image: url(images/Worst6.jpg);}
#secondPic {background-image: url(images/Worst10.jpg);}
#thirdPic {background-image: url(images/Worst7.jpg);}
#fourthPic {background-image: url(images/Worst9.jpg);}
#fifthPic {background-image: url(images/Worst2.jpg);}
#sixthPic {background-image: url(images/Worst1.jpg);}


/**------------------- FOOTER -------------------**/
footer {
    background-color: #EEE;
    padding: 20px;
}
footer ul{
    list-style-type: none;
}
footer div {
    max-width: 940px;
    margin: auto;
}
footer div p {
    color: #999;
    font-size: 13.5px;
}
footer div hr {color: #EEE;}
.footergrid{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.footergrid section {
    flex: 25%;
    max-width: 25%;
}
.footergrid section h5 {
    position: relative;
    left: 39px;
}
@media only screen and (max-width: 1440px) {
    .footergrid {grid-template-columns: 1fr 1fr 1fr;}
}
@media only screen and (max-width: 968px) {
    .footergrid {grid-template-columns: 1fr 1fr;}
}
@media screen and (max-width: 900px){
    .footergrid {
        display: flex;
        flex-direction: column;
    }
    .footergrid section h5 {
        font-weight: 550;
    }
    .footergrid section h5 span {
        float: right;
    }
    .footergrid section .header{
        color: #444;
    }
    .footergrid section .header:hover{
        color: #222;
    }
    .footergrid section ul {
        display: none;
    }
    .footergrid section ul li a {
        color: #666;
        font-size: 12px;
    }
    .footergrid section ul li a:hover {
        color: #444;
        text-decoration: underline;
    }
}
.finalNotes {
    text-align: center;
}